.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logoImg {
  position: absolute;
}

.username {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Avenir;
}

.iconsContainers {
  display: flex;
  align-items: center;
  justify-content: center;
}


.iconImg {
  position: absolute;
}

.iconsP {
  color: white;
  background: linear-gradient(90deg, #f58422 0%, #fbb541 100%);
  position: absolute;
  top: 68px;
  width: 40px;
  padding-left: 5px;
  border-radius: 5px;
}

.description {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  font-family: Avenir;
}

.ColContainers {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(174, 185, 230, 0.2);
  border-radius: 8px;
  margin: 5px;
  padding-top: 20px;
}
