.underline {
  height: 1px;
  background-color: #47642e;
  opacity: 0.1;
  width: 100%;
  border: none;
  margin-top: 0;
}

.componentsHeader {
  width: 100%;
  display: flex;
}

.row {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(174, 185, 230, 0.2);
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
}

.headerP {
  font-weight: bold;
  margin: 10px;
  color: #142407;
  font-family: Avenir;
}

.bodyContainers {
  display: flex;
}

.bodyP {
  padding: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: 500;
  font-family: Avenir;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weekWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 1rem;
  cursor: pointer;
  align-items: center;
}

.weekWrapperActive{
  background: linear-gradient(90deg, #F58422 0%, #FBB541 100%);
  box-shadow: 0px 3px 20px rgba(245, 130, 32, 0.2);
  border-radius: 8px;
  color: white;
  padding: 4px 8px;
}

.dayLetter::first-letter{
  text-transform: uppercase;
}

.noSchedulesText{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   font-weight: bold;
   font-family: avenir;
}