$orange-accent: #EA5B0B;
$cta-green: #00715F;
$cta-link: #3A9933;
$grey: #F1F1F1;
$dark-grey: #424242;
$title-grey: #5B5B5B;
$linear-green: linear-gradient(180.05deg, #02312A -11.1%, #00715F 266.03%);
$linear-orange: linear-gradient(90deg, #F58422 0%, #FBB541 100%);
$orange: #F7972E;
$text-color: #142407;
$logo-green: #47642E;
$white: #FFFFFF;
$table-border-color: rgba(174, 185, 230, 0.15);
$red: #EB5757;